.onitama-square {
  background-color: rgba(255, 255, 2555, 1);
  border: 1px solid black;
}

.middle-square {
  background-color: rgba(115, 115, 115, 1);
}

.left-bias-movement-square {
  background-color: rgba(145, 216, 255, 1);
}

.right-bias-movement-square {
  background-color: rgba(255, 143, 143, 1);
}

.neutral-bias-movement-square {
  background-color: rgb(255, 200, 30);
}
