<div class="container-fluid" id="connect-four-container">
  <div class="row" style="height: 10%">
    <div class="col-10"></div>
    <div class="col-1" style="justify-items: center; align-items: center; justify-content: center; display: flex">
      <mat-spinner *ngIf="isLoading()" style="height: 50%; width: 50%;"></mat-spinner>
    </div>
    <div class="col-1" style="text-align: center; justify-content: center; align-items: center; height: 100%; display: flex">
      <button mat-fab extended>
        <mat-icon>settings</mat-icon>
        Settings
      </button>
    </div>
  </div>
  <div class="row" style="height: 80%">
    <div class="col-2" style="text-align: center; justify-content: center; align-items: center; height: 100%; display: flex"></div>
    <div class="col-8" style="text-align: center; justify-content: center; align-items: center; height: 100%; display: flex">
      <app-connect-four-board style="height: 100%; width: 100%"></app-connect-four-board>
    </div>
    <div class="col-2" style="text-align: center; justify-content: center; align-items: center; height: 100%; display: flex"></div>
  </div>
  <div class="row" style="height: 10%">
    <div class="col-5"></div>
    <div class="col-2" style="text-align: center; justify-content: center; align-items: center; height: 100%; display: flex">
      <button mat-fab extended (click)="resetBoard()">
        <mat-icon>add</mat-icon>
        New Game
      </button>
    </div>
    <div class="col-5"></div>
  </div>
</div>
