#quarto-container {
  height: calc(100% - 64px);
}

.row-height-10 {
  height: 10%;
}

.row-height-80 {
  height: 80%;
}

.flex-center {
  justify-items: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.flex-center-full {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.half-size-spinner {
  height: 50%;
  width: 50%;
}
