<div class="piece-container" *ngIf="!isEmpty()"
     [class.clickable]="clickable"
     [class.brown]="getPieceAttributes().brown"
     [class.tan]="!getPieceAttributes().brown">
  <div class="piece-shape"
       [class.square]="getPieceAttributes().square"
       [class.circle]="!getPieceAttributes().square"
       [class.full]="getPieceAttributes().full"
       [class.hollow]="!getPieceAttributes().full">
    <span class="tall-indicator" *ngIf="getPieceAttributes().tall">T</span>
  </div>
</div>
