<img src="assets/BlueKing.png" [id]="getPieceId()" [ngClass]="getAllClasses()" *ngIf="piece == 'B'" alt="B" [ngStyle]="widthHeight"/>
<img src="assets/BluePawn.png" [id]="getPieceId()" [ngClass]="getAllClasses()" *ngIf="piece == 'b'" alt="b" [ngStyle]="widthHeight"/>
<img src="assets/RedKing.png" [id]="getPieceId()" [ngClass]="getAllClasses()" *ngIf="piece == 'R'" alt="R" [ngStyle]="widthHeight"/>
<img src="assets/RedPawn.png" [id]="getPieceId()" [ngClass]="getAllClasses()" *ngIf="piece == 'r'" alt="r" [ngStyle]="widthHeight"/>
<div [id]="getPieceId()" [ngClass]="getAllClasses()" *ngIf="piece == '-'" [ngStyle]="widthHeight"></div>

